.app {
    background: url('https://www.amarisupercars.com/blobs/stock/85/images/72e57ba9-fec8-48d2-8c52-1a8753dca414.jpg?width=2000&height=1333');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    width: 100vw;
    height: 100vh;
    overflow-y: scroll;
    overflow-x: hidden;
    padding-bottom: 50px;
}